---
title: Welcome to OFFF BARCELONA
---


<% content_for(:hero) do %>
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">More info</a>
      <a class="btn waves-effect white grey-text darken-text-2">Buy Tickets</a>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#one!">
      <h1>Barcelona,<br>April 25 — 27</h1>
      <h2 class="white-text">OFFF is a three-day journey of conferences, workshops, activities and performances.</h2>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#two!">
      <h1>Second Panel</h1>
      <h2 class="white-text">This is the OFFF second panel</h2>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#three!">
      <h1>Third Panel</h1>
      <h2 class="white-text">This is the OFFF third panel</h2>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#four!">
      <h1>Fourth Panel</h1>
      <h2 class="white-text">This is the OFFF fourth panel</h2>
    </div>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col s12">
    <h5>News</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <img class="materialboxed responsive-img" src="/images/1.jpg">
      <h6>Rams exclusive screening at OFFF Barcelona</h6>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img" src="/images/2.jpg">
      <h6>OFFF Barcelona 2019 Campaign by Bienal Comunicación</h6>
    </div>
    <div class="col s12 m4">
      <img class="materialboxed responsive-img" src="/images/3.jpg">
      <h6>OFFF goes to Moscow!</h6>
    </div>
  </div>
</div>



<div class="container">




  <div class="row">
    <div class="col s12">
    <h5>Schedule</h5>
    <h6>Artists & Workshops</h6>
    </div>
  </div>








  <div class="row">
    <div class="col s12 m8">

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/a.jpg">
              <span class="card-title">Workshop</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/b.jpg">
              <span class="card-title">Workshop</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/c.jpg">
              <span class="card-title">Artista</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/d.jpg">
              <span class="card-title">Workshop</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/e.jpg">
              <span class="card-title">Artista</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/f.jpg">
              <span class="card-title">Artista</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.</p>
            </div>
          </div>
        </div>
      </div>

      </div>








    <div class="col s12 m4">

      <h6>Filter</h6>
      <div class="divider"></div>


      <form action="#">


        <p>
          <label>
            <input type="checkbox" />
            <span>Art direction</span>
          </label>
        </p>
        <div class="divider"></div>

        <p>
          <label>
            <input type="checkbox" />
            <span>Film</span>
          </label>
        </p>
        <div class="divider"></div>

        <p>
          <label>
            <input type="checkbox" />
            <span>Graphic Design</span>
          </label>
        </p>
        <div class="divider"></div>

        <p>
          <label>
            <input type="checkbox" />
            <span>Web Design</span>
          </label>
        </p>
        <div class="divider"></div>

        <p>
          <label>
            <input type="checkbox" />
            <span>Interactive</span>
          </label>
        </p>
        <div class="divider"></div>

        <p>
          <label>
            <input type="checkbox" />
            <span>Illustration</span>
          </label>
        </p>
        <div class="divider"></div>

        <p>
          <label>
            <input type="checkbox" />
            <span>Visual Shows</span>
          </label>
        </p>
        <div class="divider"></div>

        <div class="input-field col s12">
        <select multiple>
          <option value="" disabled selected>Edition</option>
          <option value="1">2019</option>
          <option value="2">2018</option>
          <option value="3">2017</option>
        </select>
      </div>

      <div class="input-field col s12">
      <select multiple>
        <option value="" disabled selected>Type</option>
        <option value="1">Workshop</option>
        <option value="2">Artist</option>
      </select>
    </div>


  </form>
    </div>








  </div>






  <div class="row">
    <div class="col s12">
    <h5>Plan your trip</h5>
    <h6>April 25th - 27th</h6>
    <div class="section">
      <img src="/images/mapa.jpg" class="materialboxed responsive-img" alt="">
    </div>
    </div>
  </div>


<div class="section">
  <div class="row">
    <div class="col s12 m6">
      <h5>In colaboration with</h5>
      <img src="/images/adobe@2x.jpg" width="100" alt="">
      <img src="/images/moritz@2x.jpg" width="100"" alt="">
      <img src="/images/dropbox@2x.jpg" width="100" alt="">

    </div>
    <div class="col s12 m6">
      <h5>Sign Up Now</h5>
      <p>
        Type somethingLorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.
      </p>
      <form action="">
        <div class="row">
          <div class="input-field col s6">
            <input value="Your name" id="first_name2" type="text" class="validate">
            <label class="active" for="first_name2">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input value="Your email" id="email" type="text" class="validate">
            <label class="" for="email">Email</label>
          </div>
        </div>
      </form>

    </div>
  </div>
  </div>
</div>
