---
title: Welcome to OFFF BARCELONA
---

<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">More info</a>
      <a class="btn waves-effect white grey-text darken-text-2">Buy Tickets</a>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#one!">
      <h1>Barcelona,<br>April 25 — 27</h1>
      <h2 class="white-text">OFFF is a three-day journey of conferences, workshops, activities and performances.</h2>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#two!">
      <h1>Second Panel</h1>
      <h2 class="white-text">This is the OFFF second panel</h2>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#three!">
      <h1>Third Panel</h1>
      <h2 class="white-text">This is the OFFF third panel</h2>
    </div>
    <div class="carousel-item materialize-red lighten-2 white-text" href="#four!">
      <h1>Fourth Panel</h1>
      <h2 class="white-text">This is the OFFF fourth panel</h2>
    </div>
  </div>
